PIP_INDEX_URL=https://pypi.org/simple/
PYTHON=python3.12
NODE_VERSION=22
PROJECTS_FOLDER={the folder of projects}
OPENCLAW_FOLDER={the folder of openclaw source}

# OpenClaw Configuration
OPENCLAW_PORT=18789

# Ollama Cloud Configuration
OLLAMA_HOST=https://ollama.com
OLLAMA_API_KEY=your_ollama_cloud_api_key_here
